<div class="contenedor">
    <div class="producto-imagen">
        <img src="Iconos/Busqueda.png" />
    </div>
    <div class="producto-info">
        <h1>Titulo</h1>
        <aside><a>Tienda</a></aside>
        <aside>Valoracion:</aside>
        <section class="info-principal">
        </section>
    </div>
    <div class="caja-compra">
        <div class="Precio">

        </div>
        <button>Agregar a carro</button>
        <button>Comprar</button>
    </div>
</div>



