<div class="contenedor-producto-destacado">
    <div class="detalles-producto">
        <h1>@Name</h1>
        <br />
        <p class="informacion">
            @Informacion
        </p>
        <div class="control">
            <button class="agregar-Carrito">
                <span class="precio">S/@Precio</span>
                <span class="comprar">Comprar</span>
            </button>
        </div>
    </div>
    <div class="imagen-producto">
        <img src="https://sc01.alicdn.com/kf/HTB1Cic9HFXXXXbZXpXXq6xXFXXX3/200006212/HTB1Cic9HFXXXXbZXpXXq6xXFXXX3.jpg" alt="Omar Dsoky"/>
        <div class="info">
            <h2>Descripción</h2>
            <ul>
                <li><a href=""><strong>Marca:</strong> Marcaxdxd</a></li>
                <li><a href=""><strong>Tienda:</strong> Tiendaxdxd</a></li>
                <li><a href=""><strong>Ubicacion:</strong> Ubicacionxdxd</a></li>
            </ul>
        </div>
    </div>
    
</div>

@code{
    string Name = "Producto";
    int Precio = 45;
    string Informacion = "Especialmente bueno para lo que el producto hace.Especialmente bueno para lo que el producto hace.Especialmente bueno para lo que el producto hace.";
}