<section class="zona-producto">
        <h1 class="nombre-tipo">Tipo de Producto</h1>
        <a class="link-busqueda" href="">Ver Más</a>

    <div class="productos">
        @for (int i = 1; i <= 4; i++)
        {
            <CartaDeProductoDestacado />
        }
    </div>
    
</section>


