<nav class="barra-navegacion">
    <a class="logo" href="">
        <img />
        Logo
    </a>
    <div class="buscador">
        <input type="text" class="buscador-texto" />
        <a class="buscador-boton" href="">
            <img src="Iconos/Busqueda.png" />
        </a>
    </div>
    <NavLink class="carrito" href="">
        <span class="oi oi-cart">Carro</span>
    </NavLink>
    <NavLink class="usuario" data-toggle="dropdown">
        <span class="oi oi-person" aria-hidden="true" ></span>Ingresar
        <ul class="sub-menu-usuario">
            <li class="item">
                <a href="">
                    <img src="Iconos/Busqueda.png" />
                    Mis Favoritos
                </a>
            </li>
            <li class="item">
                <a href="">
                    <img src="Iconos/Busqueda.png" />
                    Mis Favoritos
                </a>
            </li>
        </ul>
    </NavLink>

</nav>


